<div class="HomeContainer">
    <div class="SlideShow">
    </div>
    <div class="HomeFoodCategory">
        <div class="HomeFoodCategoryBanner">
        <h2><span class="tes">Dessert</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2 class="BackgroundImageFont"><span>A Cake with a strawberry on top</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>
    </div>
    <div class="HomeFoodCategory">
        <div class="HomeFoodCategoryBanner">
        <h2><span class="tes">Dessert</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
    </div>
    <div class="HomeFoodCategory">
        <div class="HomeFoodCategoryBanner">
        <h2><span class="tes">Dessert</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
        <div class="HomeFoodCategoryImage">
        <h2><span>A Cake with a strawberry on top</span></h2>
        </div>        
    </div>

</div>